@font-face {
  font-family: "Inter";
  src: url("./Inter.ttf");
}

body {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: min(100vw, 1024px);
  gap: 1rem;
}

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

video {
  width: 100%;
  @media (min-width: 768px) {
    width: 50%;
  }
}

img {
  width: 100%;
  @media (min-width: 768px) {
    width: 50%;
  }
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
}

details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

summary {
  margin-bottom: 1rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

details > details {
  margin-left: 1rem;
}

a {
  color: #000;
  text-decoration: none;
}